<!DOCTYPE html>
<html>
  	<head>
    	<title>Sign Up </title>
    		<%= stylesheet_link_tag "excursion.css" %>
	</head>
	
	<body>
			
		<div id="container">
		<div id="title">The best movie and theatre experience is here</div>
	
		<div id="image">
		<%= image_tag "images/theatre1.jpg" ,:size => "500x400"  %></div>
			<div id="form">
			Our goal is to help musical and theatre lovers in a simple and smart way, 
			so they can get information on, and book tickets to the best shows in London. 
			Thanks to our good deals, we can always offer good seats to competative prices, 
			often even to the most popular performances that usually sell out in a few hours. As our customer, you can feel 
			certain that your musical experience in India will really be as fantastic as you hoped for.
	
	</div>
		<div id="image">	<%= image_tag "images/theatre2.jpg" ,:size => "500x400"  %></div>
		<div id="image">	<%= image_tag "images/theatre3.jpg" ,:size => "500x400"  %></div>
		
	
	</div>
	</div>



