<!DOCTYPE html>
<html>
  	<head>
    	<title>Sign Up </title>
    		<%= stylesheet_link_tag "restaurant.css" %>
	</head>
	
	<body>
			
		<div id="container">
		<div id="title">The best movie and theatre experience is here</div>
		<hr />
		<div id="image">
		<%= image_tag "images/dining.jpg" ,:size => "500x400"  %></div>
			<div id="form">
			The  restaurant offers  Indian cuisine with live counters acting as a special feature.
			 The rooftop setting acts as an impressive view of the racing metro, creating a pulsating imprint on the minds of the guests. It offers special meal packages 
			 to guests and is operational only in the evenings. It has a capacity of 30 covers.
	
	</div>
	
		
	
	</div>
	</div>



