#header {
width: 960px;
margin: 0 auto;
height: 1000px;
overflow: hidden;
}
#eventcontainer{
	height:30px;
position:relative;
top:140px;
width:500px;
height:600px;
color:white;
z-index:1;
padding: 10px;
	border:1px solid white;
	
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding-left:100px; //Or whatever value you would like
    padding-right:100px; //Same ^
    text-align:left;
}

table{
	color:black;
	font-size:medium;
}

tr{
	padding:20px;
	margin:10px;
}
