#container{
	position:relative;
	top:90px;
}
#image{
	
float:left;
box-shadow: 0px 30px 40px rgba(0,0,0,.1);
}
#form{
padding:20px;	
float:left;
font-size:large;
color:#09154F;
border:1px solid white;
}

body{
	background:url(/assets/images/blue.jpg)repeat-x center top #09154F;
	margin: 0;
}
p a,h3 a{
	text-decoration: underline;
	color: #8B8B8B;
}

/*-------------------------	Header --------------------------*/
#header{
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
.header{
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
	height: 600px;
}

#title{
	font-size:large;
	width:380px;
}
